<!doctype html>
<html ng-app="calc">

<head>
  <title>Calculadora</title>
  <script src="./bower_components/angular/angular.min.js"></script>
  <script>
      angular.module('calc', [])
        .config(function(){
          
        })
        .controller('calcController', function($scope, UtilsServ){
          $scope.resultado_suma = UtilsServ.sumar(1,2);
          UtilsServ.generar('data').then(function(data){
            console.log("data:", data);  
          }, function(e){
            console.log("err");  
          });
        })
        .directive('calculadora', function(UtilsServ){
          return {
            scope: true,
            restrict: 'EA',
            template: ' <h1>Res: {{resultado}}!</h1> <button ng-repeat="num in nums" ng-click="rem(num)">{{num}}</button>',
            link: function($scope, element, attrs){
              console.log("Linked");  
              $scope.resultado = '';
              $scope.nums = '123456789+-='.split('');

              $scope.$watch('resultado', function(oldval, newval){
                console.log(newval);  
              });

              $scope.rem = function(n){
                if(n==='=') {
                  $scope.resultado = UtilsServ.evaluar($scope.resultado);
                } else {
                  $scope.resultado += n;
                }
              }
            }  
          };  
        }).factory('UtilsServ', function($q){
          return {
            generar: function(param){
              var res = $q.defer();  
              setTimeout(function(){
                if(param == 'data') {
                  res.resolve({data: 1});
                } else {
                  res.reject();
                }
              }, 1000);
              return res.promise;
            },
            evaluar: function(expr){
              return eval(expr);
            }, 
            sumar: function(a,b){
              return a+b;
            }  
          }
        });
  </script>
</head>

<body>
  <div ng-controller="calcController">
    <label>Name:</label>
    <input type="text" ng-model="resultado_suma" placeholder="Enter a name here">
    <hr>
    <div calculadora></div>
    <!--
    <h1>Res: {{resultado}}!</h1>
    <button ng-repeat="num in '123456789+-='.split('')" ng-click="rem(num)">{{num}}</button>
    -->
    <div calculadora></div>
  </div>
  <!-- <h1>Res: {{resultado}}!</h1> -->
</body>

</html>
